
h1{
    background-color: rgba(100, 98, 98, 0.37);
    font-size: 700%;
    font-weight: 1000px;
    font-family: 'Anton', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.button{
    display: inline-flex;
    color: black;

    font-size: 200%;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.general{
    background-color: rgba(255, 255, 255, 0.384);
    margin: auto;
    text-align: center;
}
.t1{
    background-color: rgba(99, 98, 98, 0.384);
}

