.p1{
    background-color: rgba(255, 255, 255, 0.384);
}
.titulo1{
    font-size: 400%;
    background-color: rgba(0, 0, 0, 0);
}

.map{
    width: 600px;
    height: 600px;
    
}
.button1{
    display: inline-flex;
    color: black;

    font-size: 150%;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}